<section class="inner-banner">
        <div class="container text-center">
            <h3>Contact</h3>
            <div class="breadcumb">
                <a href="#">Home</a>
                <!--
            --><span class="sep">-</span>
                <!--
            --><span class="page-name">Contact</span>
            </div><!-- /.breadcumb -->
        </div><!-- /.container -->
    </section><!-- /.inner-banner -->

    <section class="contact-page-content sec-pad">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="contact-info">
                        <h3>Drop us a line</h3>
                        <p>For any kind of query, contact us with the <br> details below.</p>
                        <div class="single-contact-info">
                            <i class="zxp-icon-old-telephone-ringing"></i>
                            <p>030 709 1155</p>
                        </div><!-- /.single-contact-info -->
                        <div class="single-contact-info">
                            <i class="fas fa-envelope-open"></i>
                            <p>info.genecelectrix@gmail.com</p>
                        </div>
                        <div class="single-contact-info">
                            <i class="fas fa-envelope"></i>
                            <p>P.O.Box AN 5492,  <br> Accra-North, Ghana </p>
                        </div>
                        <!-- /.single-contact-info -->
                        <div class="single-contact-info">
                            <i class="fas fa-home"></i>
                            <p>Opposite Melcom Plus <br> North Industrial Area, Accra </p>
                        </div><!-- /.single-contact-info -->
                    </div><!-- /.contact-info -->
                </div><!-- /.col-md-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.contact-page-content -->