
    <section class="inner-banner">
        <div class="container text-center">
            <h3>Find Jobs</h3>
            <div class="breadcumb">
                <a href="#">Home</a>
                <!--
            --><span class="sep">-</span>
                <!--
            --><span class="page-name">Find Jobs</span>
            </div><!-- /.breadcumb -->
        </div><!-- /.container -->
    </section><!-- /.inner-banner -->

    <section class="faq-page faq-style-one sec-pad">
        <div class="container">
            <div class="sec-title text-center">
                <h3>Find Jobs</h3>
                <p>At GENEC®, you don’t just work amongst fellow expert electricians. You learn from them, too. We’re
                    big on
                    collaboration, sharing expertise and making each other better. That, plus a competitive salary and
                    the chance to work
                    with a brand with years of excellence, makes working for an independently owned and operated GENEC®
                    franchise a great career move.</p>
            </div><!-- /.sec-title -->
            <div class="row">
                <div class="col-md-12">
                    <div class="accrodion-grp" data-grp-name="faq-accrodion">
                        <div class="accrodion active">
                            <div class="accrodion-title">
                                <h4>Electric Service Professional</h4>
                            </div>
                            <div class="accrodion-content">
                                <div class="inner">
                                    <h4>Specific Responsibilities:</h4>
                                    <p>

                                        <li>Install, maintain, and repair existing equipment</li>
                                        <li>Determine condition of electrical equipment, troubleshoot malfunctions,
                                            anddetermine needed repairs</li>
                                        <li>Identify materials and quantities needed for new and repair projects</li>
                                        <li>Evaluate customer requests and provide work order descriptions and price
                                            projects</li>
                                        <li>Follow established processes and procedures</li>
                                        <li>Operate with safety as a primary concern for self and customer</li>

                                    </p>

                                    <h4>Job Requirements:</h4>
                                    <p>

                                        <li> Journeyman Electrician</li>
                                        <li> Physically able to lift heavy objects as necessary</li>
                                        <li>Professional appearance and personality</li>
                                        <li> Positive Attitude</li>
                                        <li>Team player who can work independently</li>

                                    </p>
                                </div><!-- /.inner -->
                            </div>
                        </div>
                        <div class="accrodion ">
                            <div class="accrodion-title">
                                <h4>Journeyman Electrician Service and Repair Technician</h4>
                            </div>
                            <div class="accrodion-content">
                                <div class="inner">
                                    <p>Journeyman Electrician position open now.Residential
                                        and light commercial service work, also
                                        standby generator installations.

                                        Starting wages $24-$30 per hour DOE plus many benefits available. Top
                                        technicians earn commissions. Come work for a
                                        great company at MR. ELECTRIC of Allegan.</p>
                                </div><!-- /.inner -->
                            </div>
                        </div>
                        <div class="accrodion">
                            <div class="accrodion-title">
                                <h4>Master Electrician</h4>
                            </div>
                            <div class="accrodion-content">
                                <div class="inner">
                                    <p>Seeking Master Electrician to support residential and light commercial electrical
                                        service company..</p>
                                </div><!-- /.inner -->
                            </div>
                        </div>
                        <div class="accrodion">
                            <div class="accrodion-title">
                                <h4>Customer Service Representative</h4>
                            </div>
                            <div class="accrodion-content">
                                <div class="inner">

                                    <p>GENEC is growing again, and we are in search of an experienced Customer Service
                                        Representative to join
                                        our team in our Austin office. If you are a highly motivated individual with
                                        customer handling and scheduling
                                        coordination experience in electrical or construction service industry we are
                                        looking for you. The Customer Service
                                        Representative will be responsible for responding to and scheduling customers,
                                        maintaining our lead sources, and
                                        ensuring that the quality of service provided to our customers remains
                                        outstanding.</p>

                                    <h4>Job Requirements:</h4>
                                    <p>
                                        <li> Associates Degree or 2-4 years of equivalent work experience</li>
                                        <li> Strong written and verbal communication skills </li>
                                        <li>Experience in lead generation management a plus </li>
                                        <li> Intermediate to advanced skills in MS Office </li>
                                        <li>Scheduling software a plus </li>
                                        <li> Willingness to learn new skills </li>
                                        <li> Reliable transportation</li>

                                        <h4>Benefits:</h4>
                                        <p>
                                            <li>Week vacation after one year of service</li>
                                            <li>Fun and family-oriented environment</li>
                                            <li>Paid Training</li>
                                        </p>

                                    </p>
                                </div><!-- /.inner -->
                            </div>
                        </div>
                    </div>
                </div><!-- /.col-md-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.faq-feature-wrapper -->