<div id="minimal-bootstrap-carousel" class="carousel slide carousel-fade slider-home-one" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active slide-1"
            style="background-image: url(img/genec-solar-panel.jpeg);background-position: center center;">

            <div class="carousel-caption">
                <div class="container">
                    <div class="box valign-middle">
                        <div class="content text-center">
                            <h3 data-animation="animated fadeInUp">We bring power</h3>
                            <h2 data-animation="animated fadeInUp">solutions</h2>
                            <p data-animation="animated fadeInDown">to your door Steps.</p>
                            <a href="#" class="banner-btn" data-animation="animated fadeInDown">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        


        <div class="item slide-2" style="background-image: url(img/banner-1-2.jpg);background-position: center center;">

            <div class="carousel-caption">
                <div class="container">
                    <div class="box valign-middle">
                        <div class="content text-center">
                            <h3 data-animation="animated fadeInUp">We bring power</h3>
                            <h2 data-animation="animated fadeInUp">solutions</h2>
                            <p data-animation="animated fadeInDown">to your door Steps.</p>
                            <a href="#" class="banner-btn" data-animation="animated fadeInDown">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item slide-3" style="background-image: url(img/banner-1-3.jpg);background-position: center center;">

            <div class="carousel-caption">
                <div class="container">
                    <div class="box valign-middle">
                        <div class="content text-center">
                            <h3 data-animation="animated fadeInUp">We bring power</h3>
                            <h2 data-animation="animated fadeInUp"> solutions</h2>
                            <p data-animation="animated fadeInDown">to your door Steps.</p>
                            <a href="#" class="banner-btn" data-animation="animated fadeInDown">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="item active slide-4"
            style="background-image: url(img/trainings-flier.jpeg);background-position: center center;">

            <div class="carousel-caption">
                <div class="container">
                    <div class="box valign-middle">
                        <div class="content text-center">
                            <h3 data-animation="animated fadeInUp">We bring power</h3>
                            <h2 data-animation="animated fadeInUp">solutions</h2>
                            <p data-animation="animated fadeInDown">to your door Steps.</p>
                            <a href="#" class="banner-btn" data-animation="animated fadeInDown">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#minimal-bootstrap-carousel" role="button" data-slide="prev">
        <i class="fas fa-angle-left"></i>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#minimal-bootstrap-carousel" role="button" data-slide="next">
        <i class="fas fa-angle-right"></i>
        <span class="sr-only">Next</span>
    </a>

    <ul class="carousel-indicators list-inline custom-navigation">
        <li data-target="#minimal-bootstrap-carousel" data-slide-to="0" class="active"></li>
        <!--
        -->
        <li data-target="#minimal-bootstrap-carousel" data-slide-to="1"></li>
        <!--
        -->
        <li data-target="#minimal-bootstrap-carousel" data-slide-to="2"></li>
    </ul>
</div>


<section class="service-style-one sec-pad">
    <div class="container">
        <div class="sec-title">
            <div class="row">
                <div class="col-md-3">
                    <h3>What We Do</h3>
                </div><!-- /.col-md-3 -->
                <div class="col-md-6">
                    <p>Services including Training and Consultancy, Technical support and Maintenace.
                    </p>
                </div><!-- /.col-md-6 -->
                <div class="col-md-3 text-right">
                    <a href="#" class="thm-btn bordered">All Services</a>
                </div><!-- /.col-md-3 -->
            </div><!-- /.row -->
        </div><!-- /.sec-title -->
        <div class="service-carousel-one owl-theme owl-carousel">

            <!-- <div class="item">
                    <div class="single-service-style-one">
                        <div class="img-box">
                            <img style="height: 230px; object-fit: fill;" src="img/genc-transmission.jpg" alt="Awesome Image">
                            <a href="#" class="read-more fas fa-link"></a>
                        </div>
                        <div class="content-box">
                            <div class="icon-box">
                                <i class="zxp-icon-insurance"></i>
                            </div>
                            <div class="text-box">
                                <a href="#">
                                    <h3>Voice and Data installation</h3>
                                </a>

                            </div>
                        </div>
                    </div>
                </div> -->

            <div class="item">
                <div class="single-service-style-one">
                    <div class="img-box">
                        <img style="height: 230px; object-fit: fill;" src="img/genec/genec-school1.jpeg"
                            alt="Awesome Image">
                        <a href="#" class="read-more fas fa-link"></a>
                    </div><!-- /.img-box -->
                    <div class="content-box">
                        <div class="icon-box">
                            <i class="zxp-icon-skyline"></i>
                        </div><!-- /.icon-box -->
                        <div class="text-box">
                            <a href="#">
                                <h3>Trainings and Consultancy</h3>
                            </a>

                        </div><!-- /.text-box -->
                    </div><!-- /.content-box -->
                </div><!-- /.single-service-style-one -->
            </div><!-- /.item -->
            <div class="item">
                <div class="single-service-style-one">
                    <div class="img-box">
                        <img style="height: 230px; object-fit: fill;" src="img/genec-house-work.jpg"
                            alt="Awesome Image">
                        <a href="#" class="read-more fas fa-link"></a>
                    </div><!-- /.img-box -->
                    <div class="content-box">
                        <div class="icon-box">
                            <i class="zxp-icon-couch"></i>
                        </div><!-- /.icon-box -->
                        <div class="text-box">
                            <a href="#">
                                <h3>Technical Support </h3>
                            </a>
                        </div><!-- /.text-box -->
                    </div><!-- /.content-box -->
                </div><!-- /.single-service-style-one -->
            </div><!-- /.item -->

            <div class="item">
                <div class="single-service-style-one">
                    <div class="img-box">
                        <img src="img/service-1-6.jpg" alt="Awesome Image">
                        <a href="#" class="read-more fas fa-link"></a>
                    </div><!-- /.img-box -->
                    <div class="content-box">
                        <div class="icon-box">
                            <i class="zxp-icon-stairs"></i>
                        </div><!-- /.icon-box -->
                        <div class="text-box">
                            <a href="#">
                                <h3>Civil Engineering Works</h3>
                            </a>

                        </div><!-- /.text-box -->
                    </div><!-- /.content-box -->
                </div><!-- /.single-service-style-one -->
            </div><!-- /.item -->
            <div class="item">
                <div class="single-service-style-one">
                    <div class="img-box">
                        <img style="height: 230px; object-fit: fill;" src="img/genec/genec-maintenance.jpeg"
                            alt="Awesome Image">
                        <a href="#" class="read-more fas fa-link"></a>
                    </div><!-- /.img-box -->
                    <div class="content-box">
                        <div class="icon-box">
                            <i class="zxp-icon-insurance"></i>
                        </div><!-- /.icon-box -->
                        <div class="text-box">
                            <a href="#">
                                <h3>Maintenance</h3>
                            </a>

                        </div><!-- /.text-box -->
                    </div><!-- /.content-box -->
                </div><!-- /.single-service-style-one -->
            </div><!-- /.item -->


        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.service-style-one sec-pad -->

<section class="about-style-two">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img src="img/about-feature-1-1.jpg" class="pull-right" alt="Awesome Image">
            </div><!-- /.col-md-5 -->
            <div class="col-md-7">
                <div class="about-content">
                    <h3>Who We Are</h3>
                    <span> At GENEC.</span>
                    <p>
                        GENEC Electrix is an electrical engineering and construction
                        company that specializes in transmission and distribution
                        networks in Ghana. Established in 2006, the company has
                        a team of highly skilled engineers, technicians, and project
                        managers who deliver reliable and efficient electrical
                        solutions.
                    </p>
                    <div class="brand-logos">
                        <img style="width:150px" src="img/GENEC.jpeg" alt="Awesome Image">
                        <!-- <img style="width:150px" src="img/genecon.png" alt="Awesome Image"> -->
                        <!-- <img src="img/about-b-1-3.png" alt="Awesome Image"> -->
                    </div><!-- /.brand-logos -->
                </div><!-- /.about-content -->
            </div><!-- /.col-md-7 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.about-style-two -->

<section class="project-style-one sec-pad pb0">
    <div class="container-fluid">
        <div class="sec-title text-center">
            <h3>Featured Projects</h3>
            <!-- <p>Ad minim veniam, quis nostrudexe rc itation ullamco laboris nisi ut aliquip ex ea com modo consequat.
                </p> -->
        </div><!-- /.sec-title -->
        <div class="gallery-filter">
            <ul class="post-filter masonary text-center">
                <li class="filter active" data-filter=".masonary-item"><span>All</span></li>
                <li class="filter " data-filter=".construction"><span>Trainings and Consultancy</span></li>
                <li class="filter " data-filter=".oil"><span>Technical Support</span></li>
                <li class="filter " data-filter=".mechanical"><span>Maintenance</span>
                </li>
                <li class="filter " data-filter=".welding"><span>Data installation</span></li>
            </ul><!-- /.post-filter -->
        </div><!-- /.gallery-filter -->
        <div class="row masonary-layout filter-layout" data-filter-class="filter">
            <div class="col-md-3 col-sm-6 col-xs-12 masonary-item single-filter-item construction oil">
                <div class="single-project-style-one">
                    <div class="img-box">
                        <img style="height: 300px; object-fit: fill;" src="img/genec/genec-school1.jpeg"
                            alt="Awesome Image">
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <a href="projects.html" class="more-btn fas fa-link"></a>

                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-style-one -->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 masonary-item single-filter-item construction mechanical">
                <div class="single-project-style-one">
                    <div class="img-box">
                        <img style="height: 300px; object-fit: fill;" src="img/genec/genec-school2.jpeg"
                            alt="Awesome Image">
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <a href="projects.html" class="more-btn fas fa-link"></a>

                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-style-one -->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 masonary-item single-filter-item construction oil">
                <div class="single-project-style-one">
                    <div class="img-box">
                        <img style="height: 300px; object-fit: fill;" src="img/genec/genec-school3.jpeg"
                            alt="Awesome Image">
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <a href="projects.html" class="more-btn fas fa-link"></a>

                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-style-one -->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 masonary-item single-filter-item mechanical oil">
                <div class="single-project-style-one">
                    <div class="img-box">
                        <img style="height: 300px; object-fit: fill;" src="img/genec/genec-schools7.jpeg"
                            alt="Awesome Image">
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <a href="projects.html" class="more-btn fas fa-link"></a>

                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-style-one -->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 masonary-item single-filter-item welding">
                <div class="single-project-style-one">
                    <div class="img-box">
                        <img style="height: 300px; object-fit: fill;" src="img/genec-cables.jpeg" alt="Awesome Image">
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <a href="projects.html" class="more-btn fas fa-link"></a>

                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-style-one -->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 masonary-item single-filter-item mechanical">
                <div class="single-project-style-one">
                    <div class="img-box">
                        <img style="height: 300px; object-fit: fill;" src="img/genec/genec-maintenance.jpeg"
                            alt="Awesome Image">
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <a href="projects.html" class="more-btn fas fa-link"></a>

                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-style-one -->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 masonary-item single-filter-item construction">
                <div class="single-project-style-one">
                    <div class="img-box">
                        <img style="height: 300px; object-fit: fill;" src="img/genec-hammering.jpeg"
                            alt="Awesome Image">
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <a href="projects.html" class="more-btn fas fa-link"></a>

                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-style-one -->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 masonary-item single-filter-item welding">
                <div class="single-project-style-one">
                    <div class="img-box">
                        <img style="height: 300px; object-fit: fill;" src="img/cctv-airport.jpg" alt="Awesome Image">
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <a href="projects.html" class="more-btn fas fa-link"></a>

                                </div><!-- /.content -->
                            </div><!-- /.box -->
                        </div><!-- /.overlay -->
                    </div><!-- /.img-box -->
                </div><!-- /.single-project-style-one -->
            </div>
        </div>
    </div><!-- /.container -->
</section><!-- /.project-style-one -->

<section class="cta-style-one">
    <div class="inner">
        <div class="container">
            <div class="title pull-left">
                <h3>At GENEC we are committed to safety,
                    efficiency, and sustainability, operating </h3>
            </div><!-- /.title pull-left -->
            <div class="btn-box pull-right">
                <a href="#" class="cta-btn">More Projects</a>
            </div><!-- /.btn-box -->
        </div><!-- /.container -->
    </div><!-- /.inner -->
</section><!-- /.cta-style-one -->

<section class="testimonials-style-one sec-pad">
    <div class="container">
        <div class="sec-title">
            <div class="row">
                <div class="col-md-4">
                    <h3>Clients Review</h3>
                </div><!-- /.col-md-4 -->
                <div class="col-md-8">
                    <!-- <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                            totam <br> rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi archite.</p> -->
                </div><!-- /.col-md-8 -->
            </div><!-- /.row -->
        </div><!-- /.sec-title -->
        <div class="testimonials-carousel-style-one owl-theme owl-carousel">

            <div class="item">
                <div class="single-testimonial-style-one">
                    <div class="top-box">
                        <i class="qoute-icon zxp-icon-right-quote"></i>
                        <div class="icon-box">
                            <img src="img/testi-1-2.jpg" alt="Awesome Image">
                        </div><!-- /.icon-box -->
                        <div class="text-box">
                            <h3>Professional Handling</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div><!-- /.stars -->
                        </div><!-- /.text-box -->
                    </div><!-- /.top-box -->
                    <div class="content-box">
                        <p>Once working with GENEC Electric LTD.
                            They are very competent as far as work delivery is concerned.<br>
                            They give you what we call a luxurious finish.
                            They indulge in Domestic, Commercial and Industrial Electrical Installations and many
                            more...
                        </p>
                        <h4>- Frank Kumi, Facebook</h4>
                    </div><!-- /.content-box -->
                </div><!-- /.single-testimonial-style-one -->
            </div><!-- /.item -->

            <div class="item">
                <div class="single-testimonial-style-one">
                    <div class="top-box">
                        <i class="qoute-icon zxp-icon-right-quote"></i>
                        <div class="icon-box">
                            <img src="img/testi-1-3.jpg" alt="Awesome Image">
                        </div><!-- /.icon-box -->
                        <div class="text-box">
                            <h3>Outstanding Quality</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div><!-- /.stars -->
                        </div><!-- /.text-box -->
                    </div><!-- /.top-box -->
                    <div class="content-box">
                        <p>I also loved GENEC Electrix LTD because I had enough exposure to diverse areas of
                            Electrical Installations, etc.</p>
                        <h4>- Adjei Hans.</h4>
                    </div><!-- /.content-box -->
                </div><!-- /.single-testimonial-style-one -->
            </div><!-- /.item -->
            <div class="item">
                <div class="single-testimonial-style-one">
                    <div class="top-box">
                        <i class="qoute-icon zxp-icon-right-quote"></i>
                        <div class="icon-box">
                            <img src="img/testi-1-4.jpg" alt="Awesome Image">
                        </div><!-- /.icon-box -->
                        <div class="text-box">
                            <h3>Professional Handling</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div><!-- /.stars -->
                        </div><!-- /.text-box -->
                    </div><!-- /.top-box -->
                    <div class="content-box">
                        <p>I recommend Genec to all customers who need any electrical services</p>
                        <h4>- Millicent Ket</h4>
                    </div><!-- /.content-box -->
                </div><!-- /.single-testimonial-style-one -->
            </div><!-- /.item -->
        </div><!-- /.testimonials-carousel-style-one -->
        <div class="more-btn-box text-center">
            <a href="#">View More</a>
        </div><!-- /.more-btn-box -->
    </div><!-- /.container -->
</section><!-- /.testimonials-style-one -->

<section class="request-a-qoute">
    <div class="inner-box sec-pad">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="title">
                        <h3>GENEC ELECTRICX-LTD</h3>
                        <!-- <p>Quae secundum naturam esse dicimus, in vita beata. An ea, quae per vinitorem antea
                                consequebatur, per se ipsa curabi. Ut in geom etria, prima si dederis. Copy kora moha
                                pap. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                    </div><!-- /.title -->
                </div><!-- /.col-md-6 -->
                <div class="col-md-6">

                </div><!-- /.col-md-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.inner -->
</section><!-- /.request-a-qoute -->

<section class="faq-feature-wrapper faq-style-one sec-pad">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="feature-style-one">
                    <div class="sec-title">
                        <h3>Core Values</h3>
                        <p>To achieve our vision and mission we have identified a
                            set of core values that defines us and our approach to
                            our work, specifically:</p>
                    </div><!-- /.sec-title -->
                    <div class="single-feature-style-one">
                        <div class="icon-box">
                            <i class="zxp-icon-pumpjack"></i>
                        </div><!-- /.icon-box -->
                        <div class="text-box">
                            <h3>INNOVATION </h3>
                            <p>Using cutting edge technology to deliver results</p>
                        </div><!-- /.text-box -->
                    </div><!-- /.single-feature-style-one -->
                    <div class="single-feature-style-one">
                        <div class="icon-box">
                            <i class="zxp-icon-time-passing"></i>

                        </div><!-- /.icon-box -->
                        <div class="text-box">
                            <h3>SUSTAINABILITY</h3>
                            <p>By providing solutions that promote energy efficiency and reduce
                                the reliance on non-renewable energy sources, we are helping our
                                customers save on energy costs and create a more sustainable
                                future for all..</p>
                        </div><!-- /.text-box -->
                    </div><!-- /.single-feature-style-one -->
                    <div class="single-feature-style-one">
                        <div class="icon-box">
                            <i class="zxp-icon-architect-with-helmet"></i>
                        </div><!-- /.icon-box -->
                        <div class="text-box">
                            <h3>SAFETY</h3>
                            <p>We believe that a safe and healthy work environment is essential to
                                delivering the best results for our customers. </p>
                        </div><!-- /.text-box -->
                    </div><!-- /.single-feature-style-one -->
                </div><!-- /.feature-style-one -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<div class="brand-carousel-wrapper">
    <div class="container">
        <!-- <div class="brand-carousel owl-carousel owl-theme">
            style="text-align: center; flex: auto; justify-items: center;"

            <div class="item" style="margin-right: 20px;">
                <i class="brands-icon-audiojungle"></i>
                <img class="brands-icon-audiojungle" style="margin:40px;" src="/img/genecon.png" alt="Awesome Image">
            </div>
            <div class="item ">
                <i class="brands-icon-audiojungle"></i>
                <img class="brands-icon-audiojungle" style="margin:40px; object-fit: contain;"
                    src="/img/crystal-logo.png" alt="Awesome Image">
            </div>
            <div class="item" style="margin-right: 20px;">
                <i class="brands-icon-audiojungle"></i>
                <img class="brands-icon-audiojungle" style="margin:40px;object-fit: contain; height: 100%; width: 400px"
                    src="/img/aci-logo-sym.png" alt="Awesome Image">
            </div>

            <div class="item" style="margin-right: 20px;">
                <i class="brands-icon-audiojungle"></i>
                <img class="brands-icon-audiojungle" style="object-fit: cover;  " src="/img/ecg_logo.png"
                    alt="Awesome Image">
            </div>




            <div class="item">
                <i class="brands-icon-codecanyon"></i>
            </div>
           
            <div class="item">
                <i class="brands-icon-envato"></i>
            </div>
            
            <div class="item">
                <i class="brands-icon-graphicriver"></i>
            </div>
           
            <div class="item">
                <i class="brands-icon-photodune"></i>
            </div>
            <div class="item">
                <i class="brands-icon-themeforest"></i>
            </div>
            
            <div class="item">
                <i class="brands-icon-videohive"></i>
            </div> 

        </div> -->

        <!-- /.brand-carousel -->
    </div><!-- /.container -->

    <ul style="list-style: none; padding: 10; margin: 0;">
        <li style="display: inline-block; margin-right: 10px;"><img style="object-fit: contain; width: auto; height: 100px;  " src="/img/ecg_logo.png"
                alt="Awesome Image"></li>
        <li style="display: inline-block; margin-right: 10px;"><img style="object-fit: contain; width: auto; height: 100px; " src="/img/aci-logo-sym.png"
                alt="Awesome Image"></li>
        <li style="display: inline-block; margin-right: 10px;"><img style="object-fit: contain; width: auto; height: 100px; " src="/img/crystal-logo.png"
                alt="Awesome Image"></li>
                <li style="display: inline-block; margin-right: 10px;"><img style="object-fit: contain; width: auto; height: 100px; " src="/img/ecobuild-logo.jpg"
                    alt="Awesome Image"></li>
    </ul>
</div><!-- /.brand-carousel-wrapper -->