<section class="inner-banner">
    <div class="container text-center">
        <h3>Services</h3>
        <div class="breadcumb">
            <a href="#">Home</a><!--
            --><span class="sep">-</span><!--
            --><span class="page-name">Services</span>
        </div><!-- /.breadcumb -->
    </div><!-- /.container -->
</section><!-- /.inner-banner -->

<section class="service-style-one sec-pad service-page">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-service-style-one">
                    <div class="img-box">
                        <img  src="img/service-1-6.jpg" style="object-fit: contain;" alt="Awesome Image">
                        <a href="#" class="read-more fas fa-link"></a>
                    </div><!-- /.img-box -->
                    <div class="content-box">
                        <div class="icon-box">
                            <i class="zxp-icon-insurance"></i>
                        </div><!-- /.icon-box -->
                        <div class="text-box">
                            <a href="#"><h3>File Severs for CCTV </h3></a>
                            <!-- <p>Excepteur sint occaecat cupi datat non proi dent, sunt in culpa qui off icia..</p> -->
                        </div><!-- /.text-box -->
                    </div><!-- /.content-box -->
                </div><!-- /.single-service-style-one -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-service-style-one">
                    <div class="img-box">
                        <img style="height: 230px; object-fit: cover;" src="img/genec/dc-installation.jpeg" alt="Awesome Image">
                        <a href="#" class="read-more fas fa-link"></a>
                    </div><!-- /.img-box -->
                    <div class="content-box">
                        <div class="icon-box">
                            <i class="zxp-icon-skyline"></i>
                        </div><!-- /.icon-box -->
                        <div class="text-box">
                            <a href="#"><h3>Active Directory AD and Domain Controllers DC</h3></a>
                           
                        </div><!-- /.text-box -->
                    </div><!-- /.content-box -->
                </div><!-- /.single-service-style-one -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-service-style-one">
                    <div class="img-box">
                        <img style="height: 230px; object-fit: fill;" src="img/genec/cctv.jpg" alt="Awesome Image">
                        <a href="#" class="read-more fas fa-link"></a>
                    </div><!-- /.img-box -->
                    <div class="content-box">
                        <div class="icon-box">
                            <i class="zxp-icon-couch"></i>
                        </div><!-- /.icon-box -->
                        <div class="text-box">
                            <a href="#"><h3>CCTV  Installation and Integrattion</h3></a>
                          
                        </div><!-- /.text-box -->
                    </div><!-- /.content-box -->
                </div><!-- /.single-service-style-one -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-service-style-one">
                    <div class="img-box">
                        <img src="img/security.jpg" alt="Awesome Image">
                        <a href="#" class="read-more fas fa-link"></a>
                    </div><!-- /.img-box -->
                    <div class="content-box">
                        <div class="icon-box">
                            <i class="zxp-icon-plan"></i>
                        </div><!-- /.icon-box -->
                        <div class="text-box">
                            <a href="#"><h3>Access Control</h3></a>
                
                        </div><!-- /.text-box -->
                    </div><!-- /.content-box -->
                </div><!-- /.single-service-style-one -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-service-style-one">
                    <div class="img-box" style="max-height:100%">
                        <img src="img/ec.jpg" alt="Awesome Image" >
                        <a href="#" class="read-more fas fa-link"></a>
                    </div><!-- /.img-box -->
                    <div class="content-box">
                        <div class="icon-box">
                            <i class="zxp-icon-wallpaper"></i>
                        </div><!-- /.icon-box -->
                        <div class="text-box">
                            <a href="#"><h3>Information Technology Training</h3></a>
                            
                        </div><!-- /.text-box -->
                    </div><!-- /.content-box -->
                </div><!-- /.single-service-style-one -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-service-style-one">
                    <div class="img-box">
                        <img src="img/genec/computer.jpg" alt="Awesome Image">
                        <a href="#" class="read-more fas fa-link"></a>
                    </div><!-- /.img-box -->
                    <div class="content-box">
                        <div class="icon-box">
                            <i class="zxp-icon-stairs"></i>
                        </div><!-- /.icon-box -->
                        <div class="text-box">
                            <a href="#"><h3>Computer Programming</h3></a>
                            
                        </div><!-- /.text-box -->
                    </div><!-- /.content-box -->
                </div><!-- /.single-service-style-one -->
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.service-style-one sec-pad -->